body{
    background-color: rgb(60, 152, 222);
}

h1 {
    text-align: center;
    font-size: 60px;
}

button{
    size: 100px;
}

#inputSection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: beige;
    width: 40%;
    height: 200px;
}

#planSection {
    background-color: purple;
}