body{
    background: linear-gradient(to bottom, #0081b4, #ee40a2);
}

#innerTitle {
    background-color: rgb(250, 211, 231);
    margin-top: 0;
    border-radius: 10px;
}

h1 {
    color: rgb(0, 129, 180);
    text-align: center;
    font-size: 60px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    height: 80px;
    border-radius: 10px;
    

}

button {
    border-radius: 5px;
    background-color: beige;
}



#inputSection {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

    width: 50%;
    height: 200px;
}

#planSection {
    font-size: 25px;
    margin-left: 30px;
    margin-top: 20px;
    width: 40%;
    height: 200px;
}

#planButton {
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-left: 25%;
    margin-top: 30px;
}

tr {
    border-width: 0;
}

table{
    background-color: rgb(250, 211, 231);
    border-width: 0;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fiveAM {
    background-color: black;
}

#fiveAMM {
    background-color: black;
}